manifest {
    description = 'Bulk RNAseq pipeline implemented with Nextflow'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
    
process {
    withName: FASTQC {
        container = 'staphb/fastqc:0.12.1'
    }

    withName: TRIM_READS {
        container = 'quay.io/biocontainers/trimmomatic:0.36--4'
    }

    withName: 'SALMON_INDEX|SALMON_QUANT' {
        container = 'combinelab/salmon:1.10.3'
    }

    withName: TXIMPORT_PROCESS {
        container = 'quay.io/biocontainers/bioconductor-tximport:1.26.0--r42hdfd78af_0'
    }
}